#container{
    width:700px;
    margin:0 auto;
}

header{
    height:200px;
    background-color: pink;
}

#left{
    width:500px;
    height:500px;
    float: left;
    background-color: yellow;
    opacity: 50%;
}

#right{
    width: 100px;
    height:500px;
    float:left;
    background-color: lightblue;
}
footer{
    height: 100px;
    background-color: aqua;
}